header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  @media screen and (max-width: 900px) {
    flex-direction: column;
  }

  [intro] {
    max-width: 100%;
  }

  img {    
    max-width: 300px;
    width: 100%;
    height: 300px;
    border: 3px dashed var(--sun-500);
    transform: rotate(5deg);
    @media screen and (max-width: 900px) {
      transform: none;
      margin: 0 auto;
    }
  }
}