nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: var(--primary-forest);
  color: #fff;

  > div[section] {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: var(--padding-x-small);
    padding-bottom: var(--padding-x-small);
  }

  [companyName] {
    color: #fff;
    text-decoration: none;
    
    > * {
      margin: 0;

      &:first-child {
        margin-bottom: 3px;
      }
    }

    p {
      font-size: 12px;
    }
  }

  [toggle] { 
    position: absolute;
    right: var(--padding-x);
    top: 50%;
    transform: translateY(-50%);
    display: none;
    border: 2px solid var(--primary-forest);
    border-radius: 4px;
    appearance: none;    
    background: none;    
    color: #fff;
    @media screen and (max-width: 767px) {
      display: block;
    }
  }

  ul {
    display: flex;
    align-self: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
    list-style-type: none;
    @media screen and (max-width: 767px) {
      position: absolute;
      top: 100%;
      left: 0;
      display: none;
      gap: 1rem;
      width: 100%;      
      flex-direction: column;
      padding: 1rem;
      text-align: center;
      background-color: var(--primary-forest);
      color: #fff;
    }

    a {      
      position: relative;
      display: block;      
      text-decoration: none;
      color: currentColor;
      
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: var(--sun-500);
        transition: width ease-in 100ms;
      }

      &:hover {

        &::after {
          width: 100%;
        }
      }
    }
  }
}