* {
  --padding-x: clamp(1rem, 5vw, 7vw);
  --padding-x-small: 0.5rem;
  --padding-y: clamp(10px, 5vw, 20px);
  box-sizing: border-box;
  scroll-behavior: smooth;  
}

body {
  margin: 0;
  line-height: 1.5;
  background-color: var(--beige);
  color: var(--primary-forest);
  background-image: radial-gradient(circle, rgba(255, 210, 51, 0.4) 1px, transparent 0);
  background-size: 20px 20px;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
  @media screen and (max-width: 767px) {
    padding-top: 75px;
  }
}

main > section, [section] {
  padding: clamp(10px, 5vw, 20px) clamp(1rem, 5vw, 7vw);  
}

section {
  scroll-margin-top: 80px;
}

[headline] {
  text-align: center;
}

[underline] {
  text-decoration: underline;
  text-decoration-color: var(--sun-500);
  text-decoration-thickness: 5px;

  &[thin] {
    text-decoration-thickness: 2px;
  }
}

[title] {
  margin-top: 0;
  margin-bottom: 3px;
}

[subtitle] {
  margin-top: 0;

  &:has(+ ul) {
    margin-bottom: 3px;
  }
}